<a href="https://colab.research.google.com/github/gyaler/R/blob/main/%EA%B5%AC%EA%B8%80_%EC%BD%94%EB%9E%A9%EC%97%90%EC%84%9C_R%EC%9D%84_%ED%99%9C%EC%9A%A9%ED%95%98%EC%97%AC_%EA%B5%AC%EA%B8%80%EB%93%9C%EB%9D%BC%EC%9D%B4%EB%B8%8C_%ED%8C%8C%EC%9D%BC%EC%97%90_%EC%A0%91%EA%B7%BC%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 구글 코랩에서 R을 활용하여 구글드라이브 파일에 접근하기

1. 업로드하고자 하는 파일 오른쪽 클릭 - get link 를 활성화한다.
2. link를 복사한다.
3. ".../d/ \~\~\~ /view?..." 에서 \~\~\~ 부분을 복사한다.
4. system("gdown --id \~\~\~") 를 실행한다.
5. 좌측 파일 리스트에 보면, 데이터가 업로드된 것을 확인할 수 있다.

In [5]:
library(dplyr)
data <- read.csv("net_data_211221.csv")
data %>% select(NO, cat, B2B) %>% head()

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  NO cat B2B
1 1  0   0
2 2  0   0
3 3  0   1
4 4  0   0
5 5  0   0
6 6  0   0